:host {
  display: block;
  height: 60px;
}

.header-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}
