<header>
  <div>
    <a routerLink="/home"
      routerLinkActive="acitve-route-class">Home</a>
    <a routerLink="/posts"
      routerLinkActive="acitve-route-class">Posts</a>
    <a routerLink="/contact"
      routerLinkActive="acitve-route-class">Contacts</a>
    <a routerLink="/movie-list"
      routerLinkActive="acitve-route-class">Moive List</a>
    <a routerLink="view-content-query"
      outerLinkActive="acitve-route-class">View Content Query</a>
    <a routerLink="view-container-ref"
      outerLinkActive="acitve-route-class">View Container Ref</a>
    <a routerLink="template-outlet"
      routerLinkActive="acitve-route-class">Template Outlet</a>
    <a routerLink="dynamic-component"
      routerLinkActive="acitve-route-class">Dynamic Component</a>
    <a routerLink="rxjs-subject"
      routerLinkActive="acitve-route-class">RxJs Subject</a>
  </div>

  <div class="flex flex-row items-center gap-4">
    <button *ngIf="!isLoggedIn"
      routerLink="/signin">Sign In</button>
    <button *ngIf="isLoggedIn"
      (click)="onSignout()">Sign Out</button>
    <p>{{email}}</p>
  </div>
</header>

<main>

  <router-outlet></router-outlet>
</main>

<footer></footer>
