<header>
  <div>
    <a routerLink="/home"
      routerLinkActive="acitve-route-class">Home</a>
    <a routerLink="/posts"
      routerLinkActive="acitve-route-class">Posts</a>
    <a routerLink="/contact"
      routerLinkActive="acitve-route-class">Contacts</a>
    <a routerLink="/movie-list"
      routerLinkActive="acitve-route-class">Moive List</a>
    <a routerLink="view-content-query"
      class="menu-item"
      routerLinkActive="active">View Content Query</a>
  </div>

  <div class="flex flex-row items-center gap-4">
    <button *ngIf="!isLoggedIn"
      routerLink="/signin">Sign In</button>
    <button *ngIf="isLoggedIn"
      (click)="onSignout()">Sign Out</button>
    <p>{{email}}</p>
  </div>
</header>

<main>

  <router-outlet></router-outlet>
</main>

<footer></footer>
