<div class="border-2 border-red-600 m-4 p-4">

  <h2>This is parent class</h2>

  <h3>Messge from child compo: {{messgeFromChildComp}}</h3>

  <input (change)="inputChanged($event)"
         class="border bg-red-50" />

  <app-child [value]="inputValue"
             (childCrying)="childCryingEventHandler($event)">

    <!-- --------------- Passing html/view from parent to child ---------------- -->
    <p>This will be rendered in anonymmouse content slot</p>
    <h1>THIS HEADER IS A CONTENT TO CHILD ELEMENT FROM PARENT</h1>
    <button class="bg-red-400"
            id="idBtn">ID BUTTON</button>
    <button class="bg-green-400 class-btn">CLASS BUTTON</button>
    <button class="bg-blue-400"
            attrBtn>ATTRIBUTE BUTTON</button>


  </app-child>


</div>
